"String Art Robot v2"/.pio
"String Art Robot v2"/.vscode/.browse.c_cpp.db*
"String Art Robot v2"/.vscode/c_cpp_properties.json
"String Art Robot v2"/.vscode/launch.json
"String Art Robot v2"/.vscode/ipch

'string pattern generator'/venv